.botaoLogIn {
  height: 53px;
  width: 360px;
  background-color: var(--primary);
  color: var(--backgroundLight);
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  border-radius: 10px;
}

.botaoLogIn:hover {
  background-color: var(--secondary);
}

.botaoSignUp {
  height: 53px;
  width: 360px;
  background-color: var(--backgroundLight);
  color: var(--backgroundDark);
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
}
