@import url('../../globals.css');

.menu-lateral {
    background-color: var(--backsecondary10);
    width: 100px;
    height: 100vh;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
}

.nav-item {
    margin-bottom: 45px;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
}

.icon-nav {
    width: 50px;
    padding: 10px;
}