:root {
    --color-grey: #5f6358;
    --color-grey-light: rgba(0, 0, 0, .12);
    --color-blue: rgba(173, 216, 230, 0.4);
    --font: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: var(--font);
}

.containerCards {
    margin-left: 73px;
    margin-right: 73px;
    padding: 24px;
    display: grid;
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
}

.container {
    position: relative;
    width: 100%;
}

.gifNotFound{
    width: 600px;
}

.mensagemSmTurma {
    padding: 24px;
    height: calc(100vh - 86px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-justify: center;
}

.mensagem {
    text-justify: center;
    font-size: 2rem;
}

.modal-class {  
    --width: 75%;
    --height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    border-radius: 0;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}