@import url("https://fonts.googleapis.com/css2?family=Ovo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --backgroundLight: #fafafa;
  --brackgroundGray: #f2f2f2;
  --backgroundDark: #111111;
  --secondary: #824eec;
  --primary: #5744e7;
  --backsecondary10: #dbd8f4;
  --backsecondary40: #824eec;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--backgroundLight);
}

img {
  -webkit-user-drag: none;
  user-drag: none;
}

.container-principal {
  display: flex;
  flex-direction: row;
}

.pagina-erro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.img-error-page {
  width: 20em;
}

.mensagem-erro {
  text-align: center;
  width: 30%;
}

@media (max-width: 768px) {
  .mensagem-erro {
    width: 80%;
  }
}

.btn-retorno {
  margin: 0;
  margin-top: 20px;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: "Ovo", serif;
  font-weight: 600;
  font-size: 20px;
}

.btn-retorno p {
  margin: 0;
  position: relative;
  font-size: 20px;
  color: #000;
}

.btn-retorno::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -7px;
  background: var(--primary);
  height: 2px;
  transition: 0.3s ease-out;
}

.btn-retorno p::before {
  position: absolute;
  width: 0%;
  inset: 0;
  color: var(--primary);
  overflow: hidden;
  transition: 0.3s ease-out;
}

.painel::before {
  content: "Ir para o Painel";
}

.login::before {
  content: "Ir para o Login";
}

.btn-retorno:hover::after {
  width: 100%;
}

.btn-retorno:hover p::before {
  width: 100%;
}

.btn-retorno:hover svg {
  transform: translateX(4px);
  color: var(--primary);
}

.btn-retorno svg {
  color: #000;
  transition: 0.2s;
  position: relative;
  width: 15px;
  transition-delay: 0.2s;
}

.container-pages {
  width: calc(100% - 100px);
  min-height: 100vh;
  padding: 40px;
  margin-left: 8%;
}

@media (max-width: 460px) {
  .container-pages {
    margin-left: 0;
    margin-top: 20px;
    width: 100%;
  }
}

@media (min-width: 461px) and (max-width: 768px) {
  .container-pages {
    margin-left: 100px;
    padding: 20px;
  }
}

.btn {
  width: 100%;
  background-color: var(--backgroundLight);
  color: var(--backgroundDark);
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--backsecondary10);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #452091;
}

.container-botao {
  width: 100%;
  margin-top: 10px;
}

.btn-primary {
  padding: 10px;
  background-color: var(--primary);
  color: var(--backgroundLight);
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  border-radius: 10px;
}

.btn-primary:disabled {
  cursor: no-drop;
  opacity: 0.5;
}

.btn-primary:hover {
  background-color: #3221b9;
}

.btn-secondary {
  width: auto;
  position: relative;
  color: #000;
  padding: 0 8px;
}

.btn-secondary:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.btn-secondary:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}