@import url('@/globals.css');

.container-porcent {
    position: relative;
    width: 100%;
    height: 10px;
}

.barra-porcent {
    height: 10px;
    border-radius: 100px;
    position: absolute;
}

.fundo-porcent {
    width: 100%;
    background-color: var(--backsecondary10);
}

.porcent-progress {
    background-color: var(--secondary);
}